<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Astrology Home Page</title>
    <style>
      body {
        background-color: antiquewhite;
      }
      span {
        color: red;
      }
      div {
        width: max-content;
        padding: 10px;
        margin: 10px;
        border: 1px, solid red;
        border-radius: 10px;
        background: linear-gradient(45deg, grey, pink);
      }
    </style>
  </head>
  <body>
    <div>
      <h2>Hello Friends, <span>{{wish}}</span></h2>
      <p>Time is : {{time}}</p>
      <hr />
      <h2>Astrology Info for Anirudh is <span>{{msg}}</span></h2>
      <p>
        very soon, you are going to get marriage with: <span>{{name}}</span>
      </p>
    </div>
  </body>
</html>
