<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Samantha Page</title>
  </head>
  <body>
    <h1>Welcome</h1>
    <h2>This is Samantha Ruth Page</h2>
    <div>
      <img src="{% static 'images/samantha/samantha-1.jpg' %}" alt="" />
      <img src="{% static 'images/samantha/samantha-2.jpg' %}" alt="" />
      <img src="{% static 'images/samantha/samantha-3.jpg' %}" alt="" />
    </div>
  </body>
</html>
