<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wish</title>
    <style>
      #wish {
        width: max-content;
        margin: 10px;
        padding: 10px;
        border: 1px solid red;
        border-radius: 20px;
        font-family: "Times New Roman", Times, serif;
        color: white;
        background: linear-gradient(45deg, pink, blueviolet);
      }
      table {
        border: 1px solid red;
      }
    </style>
  </head>
  <body>
    <div id="wish">
      <h2>Welcome to Django Templates Project</h2>
      <p>In MVT Architecture, Second hero is <strong>Templates</strong></p>
      <p>{{msg}}</p>
      <p>Time is : {{fulldatetime}}</p>
      <h3>Student Details</h3>
      <table>
        <tr>
          <td>Name</td>
          <td>{{name}}</td>
        </tr>
        <tr>
          <td>RollNo</td>
          <td>{{rollno}}</td>
        </tr>
        <tr>
          <td>Marks</td>
          <td>{{marks}}</td>
        </tr>
      </table>
    </div>
  </body>
</html>
