<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wish</title>
    <style>
      #wish {
        width: max-content;
        margin: 10px;
        padding: 10px;
        border: 1px solid red;
        border-radius: 20px;
        font-family: "Times New Roman", Times, serif;
        background: linear-gradient(45deg, pink, blueviolet);
      }
    </style>
  </head>
  <body>
    <div id="wish">
      <h1>Welcome to Django Templates Project</h1>
      <h2>In MVT Architecture, Second hero is <strong>Templates</strong></h2>
    </div>
  </body>
</html>
