<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Information</title>
    <style>
      div {
        padding: 10px;
        margin: 10px;
        border: 1px solid red;
        border-radius: 10px;
        width: max-content;
        background: linear-gradient(45deg, antiquewhite, grey);
      }
    </style>
  </head>
  <body>
    <div>
      <h2>Hello, World!</h2>
      <p>Time : {{date}}</p>
      <hr />
      <h2>Course Name: {{course}}</h2>
      <h3>Prerequisite: {{prerequisite}}</h3>
      <ul>
        <li>Easy to Learn</li>
        <li>Faster Development</li>
        <li>Follows MVT Architecture</li>
      </ul>
      <hr />
      <h3>Student Deatils</h3>
      <table>
        <th>
            <td>SNo</td>
            <td>Name</td>
            <td>marks</td>
        </th>
        <tr>
            <td>1</td>
            <td>Sunny</td>
            <td>100</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Bunny</td>
            <td>98</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Chinny</td>
            <td>98</td>
        </tr>
      </table>
      <hr />
    </div>
  </body>
</html>
